@model IEnumerable<CinemaHubFinalProject.Models.Movies>

@{
    ViewBag.Title = "Index";
}

<h2 style="color:white">Movie</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th class="white">
            @Html.DisplayNameFor(model => model.MovieName)
        </th>
        <th class="white">
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th class="white">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th class="white">
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th class="white">
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th class="white">
            @Html.DisplayNameFor(model => model.ImgPath)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="white">
                @Html.DisplayFor(modelItem => item.MovieName)
            </td>
            <td class="white">
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td class="white">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="white">
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td class="white">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <div class="gallery align-items-center d-flex flex-row flex-wrap justify-content-between">
                    <div class="poster">
                        <a target="_blank" href="Ticket page.html">
                            <img src=@item.ImgPath alt="movie2" class="poster">
                        </a>
                    </div>
                </div>
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.MovieName }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MovieName })
            </td>
        </tr>
    }

</table>
