@model CinemaHubFinalProject.Models.Shows

@{
    ViewBag.Title = "Details";
}

<h2 style="color:white">Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal white">
        <dt>
            @Html.DisplayNameFor(model => model.ShowTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat0)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat0)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat16)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat16)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat17)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat17)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat18)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat18)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat19)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat19)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat20)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat20)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat21)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat21)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat22)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat22)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat23)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat23)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat24)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat24)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat25)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat25)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movies.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movies.Genre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShowID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
